<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bahvan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F183450A1DEE6B1E00A5EA22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F18345261DEE6B2200A5EA22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F18345311DEE6B2300A5EA22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
